<!-- Footer Component -->
<footer class="footer-section" id="about">
    <div class="footer-contact">
        <h3>CONTACT INFO</h3>
        <strong>BẾ ĐÌNH HOÀNG LONG</strong><br><br>
        <div class="footer-info">
            <div>
                <a href="https://www.facebook.com/notlongbedinhoang" target="_blank" rel="noopener">
                  <i class="fa-brands fa-square-facebook"></i>
                    notlongbedinhoang
                </a><br>
                <a href="https://www.instagram.com/not_longbedinhoang/" target="_blank" rel="noopener">
                  <i class="fa-brands fa-square-instagram"></i>
                    not_longbedinhoang
                </a>
            </div>
            <div>
                longbe.work@gmail.com<br>
                0901 311 374
            </div>
        </div>
    </div>
</footer>
