<!-- Header Component -->
<header class="header">
    <div class="header-container">
        <nav class="nav-menu">
            <ul>
                <li><a href="../index.html" class="nav-link" data-section="home">HOME</a></li>
                <li><a href="../pages/SelectedWorks.html" class="nav-link" data-section="works">WORKS</a></li>
                <li><a href="#" class="nav-link" data-section="visual-gallery">VISUAL GALLERY</a></li>
                <li><a href="#" class="nav-link" data-section="about">ABOUT</a></li>
            </ul>
        </nav>
    </div>
</header>
